@tailwind base;
@tailwind components;
@tailwind utilities;

.ubuntu-font {
    font-family: 'Ubuntu Mono', monospace;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.loading-bar {
    width: 100%;
    height: 8px;
    background-color: #ccc;
    top: 0;
    left: 0;
}

.loading-progress {
    height: 100%;
    background-color: #0077D6;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.docs-border {
    border-radius: 42px 12px 12px 12px;
}

.background-section {
    background-image: url('/public/assets/image/visa-web-background.jpg');
    background-size: cover;
    background-position: center;
}

.border-blue-neon {
    border: 10px solid #D4D6D6;
    border-image: linear-gradient(to bottom, #D4D6D6, #40C6EA, #484949) 1;
}

.border-red-neon {
    border: 10px solid #D4D6D6;
    border-image: linear-gradient(to bottom, #D4D6D6, #F440A1, #484949) 1;
}

.border-orange-neon {
    border: 10px solid #D4D6D6;
    border-image: linear-gradient(to bottom, #D4D6D6, #F3693D, #484949) 1;
}

.onestop-gradient {
    border-radius: 8px;
    background: linear-gradient(180deg, #303030 0%, #131313 100%);
}